[submodule "externals/WhiteoutLib"]
	path = externals/WhiteoutLib
	url = https://github.com/FernandoS27/WhiteoutLib
[submodule "externals/dr_libs"]
	path = externals/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "externals/Wc3Shaders"]
	path = externals/Wc3Shaders
	url = https://github.com/FernandoS27/Wc3Shaders
[submodule "externals/tracy"]
	path = externals/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "externals/nativefiledialog-extended"]
	path = externals/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "externals/cubeb"]
	path = externals/cubeb
	url = https://github.com/mozilla/cubeb
